.wrap {
  background-image: url("https://images.unsplash.com/photo-1541625602330-2277a4c46182?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  min-height: 380px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 75%;
  position: fixed;
  width: 100%;
  transform: scaleX(-1);
}

.header-content {
  position: absolute;
  top: 240px;
  left: 6%;
  font-size: 30px;
}

body {
  font-family: 'Play', sans-serif;
}

.content-container {
  display: flex;
  justify-content: center;
  padding: 4%;
}

.title {
  color: #54539e;
  text-align: center;
  padding-bottom: 10px;
  text-shadow: 3px 3px 1px #f7f4f0;
}

.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 3px;
  width:100%;
  text-align: left;
  background-color: #54539e;
}

.link:hover {
  color: #ece8e4d8;
  font-size: 15px;
}

.link {
  font-size: 14px;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.logout {
  text-align: right;
  padding-right: 6px;
  padding-top: 28px;
}

.button1 {
  background-color: #7a654c;
  border: none;
  color: white;
  padding: 8px 22px;
  text-align: center;
  font-size: 12px;
  border-radius: 2px;
  position: absolute;
  top: 37px;
  right: 10px;
}

.button1:hover {
  box-shadow: 2px 2px 2px black;
  font-size: 13px;
}

.button2 {
  background-color: #54539e;
  border: none;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  margin-left: 4%;
  margin-bottom: 13px;
}

.button2:hover {
  box-shadow: 2px 2px 2px black;
}

.button3 {
  width: 150px;
  font-size: 12px;
  position: absolute;
  right: 35%;
  border: none;
  color: white;
  background-color: #7a654c;
  height: 40px;
  border-radius: 3px;
}

.button3:hover {
  box-shadow: 2px 2px 2px black;
  font-size: 13px;
}

.main {
  position: absolute;
  top: 370px;
  left: 8px;
  width: 100%;
  min-height: 500px;
  background-color: #f7f4f0;
}

.form1 {
  text-align: right;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-left: auto;
  margin-right: 15%;
}

.form-container1 {
  background-color: white;
  width:50%;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.form-container2 {
  background-color: white;
  width: 75%;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

input[type=text], select {
  width: 50%;
  padding: 10px 10px;
  margin: 8px 10px;
  border: 1px solid #54539e;
  border-radius: 4px;
  box-sizing: border-box;
  float: right;
}

.input1 {
  width: 23.3%;
  padding: 10px 10px;
  margin: 8px 10px;
  border: 1px solid #54539e;
  border-radius: 4px;
  box-sizing: border-box;
  float: right;
}

.input2 {
  width: 50%;
  padding: 10px 10px;
  margin: 8px 10px;
  border: 1px solid #54539e;
  border-radius: 4px;
  box-sizing: border-box;
  float: right;
}

.form-button1 {
  width: 150px;
  font-size: 12px;
  margin-left: auto;
  margin-right: 15%;
  margin-top: 20px;
  border: none;
  color: white;
  background-color: #54539e;
  height: 40px;
  border-radius: 3px;
}

.form-button1:hover {
  box-shadow: 2px 2px 2px black;
  font-size: 13px;
}

table {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: white;
  padding-top: 15px;
}

.table-btn {
  background-color: #7a654c;
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 2px;
  border: 4px solid white;
}

.detail-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.detail-column {
  margin-left: auto;
  margin-right: 13%;
  Text-align: center;
}

ul {
  list-style: none;
}

h2 {
  text-align: center;
}

.profile-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.profile-column {
  margin-left: auto;
  margin-right: 10%;
  margin-top: 10px;
  Text-align: left;
}

.profile-img {
  padding: 15px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 260px;
}

.p-button {
  background-color: #54539e;
  border: none;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13px;
}

.p-button:hover {
  box-shadow: 2px 2px 2px black;
}

.leaderboard-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
