.wrap {
  background-image: url("https://images.unsplash.com/photo-1541625602330-2277a4c46182?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  min-height: 380px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 75%;
  position: absolute;
  width: 100%;
  transform: scaleX(-1);
}

.header-content {
  position: absolute;
  top: 240px;
  left: 6%;
  font-size: 30px;
}

body {
  font-family: 'Play', sans-serif;
}

.content-container {
  display: flex;
  justify-content: center;
  padding: 4%;
}

input[type=text], select {
  width: 50%;
  padding: 10px 10px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.title {
  color: #54539e;
  text-align: center;
  padding-bottom: 10px;
}

.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 3px;
  width:100%;
  text-align: left;
  background-color: #54539e;
}

.link:hover {
  color: #849324;
}

.link {
  font-size: 14px;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.logout {
  text-align: right;
  padding-right: 10px;
  padding-top: 28px;
}

.button1 {
  background-color: #7a654c;
  border: none;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 2px;
}

.main {
  position: absolute;
  top: 370px;
  left: 9px;
  width: 100%;
  background-color: #f7f4f0;
}
